
body{
	background-color:#030f1b;
	color:white !important;
}
nav{
	background-color:black;
}
.sidenav{
	background-color:#052035;
}
.sidenav li>a{
	color:white !important;
}

#main-page img{
	width:100%;
	text-align: center;

}

.animation-element.fade-in {
	opacity: 0;
	-moz-transition: all 3000ms linear;
	-webkit-transition: all 3000ms linear;
	-o-transition: all 3000ms linear;
	transition: all 3000ms linear;

}

.animation-element.fade-in.in-view {
	opacity: 1;
	/*-moz-transform: translate3d(0px, 0px, 0px);
	-webkit-transform: translate3d(0px, 0px, 0px);
	-o-transform: translate(0px, 0px);
	-ms-transform: translate(0px, 0px);
	transform: translate3d(0px, 0px, 0px);*/
}
#main-page .content h2{
	text-align: left;
	font-size:50px;
	color:white;
}
.one{
	opacity:0;
/*	-webkit-animation: main-page-content-animation 3s forwards;
    -webkit-animation-delay: 1s; */

    animation: main-page-content-animation 3s forwards;
    animation-delay: 500ms;
}
.two{
	opacity:0;
	animation:main-page-content-animation 3s forwards;
	animation-delay:1200ms;
}
.three{
	opacity:0;
	animation:main-page-content-animation 3s forwards;
	animation-delay:1900ms;
}	

/*@-webkit-keyframes main-page-content-animation {
    from {opacity:0;}
    to {opacity:1;}
}*/

@keyframes main-page-content-animation {
    from {opacity:0;}
    to {opacity:1;}
}

#page-2 img{

	width:80%;
	border-radius:50%;
	display:block;
	margin-left: auto;
    margin-right: auto;
}

#page-2 .animation-element{
	opacity: 0;
	-moz-transition: all 1500ms linear;
	-webkit-transition: all 1500ms linear;
	-o-transition: all 1500ms linear;
	transition: all 1500ms linear;

	-moz-transform: translate3d(-150px, 0px, 0px);
	-webkit-transform: translate3d(-150px, 0px, 0px);
	-o-transform: translate(-150px, 0px);
	-ms-transform: translate(-150px, 0px);
	transform: translate3d(-150px, 0px, 0px);

}

#page-2 .animation-element.in-view {
	opacity: 1;
	-moz-transform: translate3d(0px, 0px, 0px);
	-webkit-transform: translate3d(0px, 0px, 0px);
	-o-transform: translate(0px, 0px);
	-ms-transform: translate(0px, 0px);
	transform: translate3d(0px, 0px, 0px);
}

#page-2 p{
	text-align: center;
}



.page-footer p{
	font-size:15px;
	color:brown;
}
.page-footer{
	background-color:black;
}
